// default-layout-component

c-sidebar{
  position:fixed !important; //unset
  top: 64px !important; //0
  bottom: 0 !important; //0
  left: unset !important; //unset
  float: left;
  margin-left: -18px !important;
  margin-top: 0 !important; //-25px
  transition: top 0.15s ease  !important;
}

c-sidebar-brand{
  padding: 0 20px !important;
}

/* additional styles for the sidebar when header is shrunked */
.header-is-shrunked{
  top: 50px !important; //0
}

.hide{
  margin-left: calc(-1.08 * var(--cui-sidebar-width)) !important;
}



/* additional styles for the shrunk header */
c-header, app-default-header {
  transition: min-height 0.15s ease  !important;
}
.shrunk-header { // app-default-header  -  c-header
  box-shadow:  0 4px 2px -2px rgba(0, 0, 0, 0.2);
  min-height: 10px !important;
}

